<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlizzardOAuthEndpoint" value="https://us.battle.net/oauth/token" />
    <add key="BlizzardWoWQuestDataEndpoint" value="https://us.api.blizzard.com/data/wow/quest/" />
    <add key="region" value="us" />
    <add key="locale" value="en_US" />
    <add key="namespace" value="static-us" />
    <add key="MaxQuestID" value="60200" />
    <add key="SleepTimeInSeconds" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>