# harvester client settings files. Contains user secrets so it should NEVER be committed
clientSettings.txt
# harvester result files
.tools/questDB.json
.tools/itemDB.json

# standard directories for visual studio's build objects and NuGet package restorations
.vs
bin
obj
packages
*.user